.image{
    align-items: end;
    height:300px;
    width:250px;
    align-items: center;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius:15px;
    border: 0ch;
}
.button{
    border-radius:10px;
    height:40px;
    width:120px;
    background-color:#0967d2;
    
    padding-left:5px;
    padding-right:5px;
    color:white;
    font-size:14px;
    border:0px;
    margin:20px;
    text-align: center;
}

span{
    color:black;
    font-size: 1.2em;
    font-weight: bold;

}
.heading{
    text-align: center;
    font-family: monospace;
    font-style: normal;
    font-weight: bold;
}
button:hover{
    background:#0056b3;
}

.form-section {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: transform 0.6s ease, box-shadow 0.7s ease;
}
 textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid white;
            border-radius: 4px;
            resize: none; 
            font-size: 1em;
            color: #555;
            background-color: #f9f9f9;
        }

textarea[readonly] {
            background-color: white; 
        }


 